body {
    background: #FAFAFA
}


/*cover section */


.main_cover {
    background: none;
    min-height: 80vh;
    margin-bottom: 0;
}

.cover_wrapper {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 85vh;
    width: auto;
  }

  .cover_wrapper video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .cover_wrapper .container {
    z-index: 2;
    position: relative;
  }
  
.menu {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    font-size: 25px;
}

.logo {
    font-size: 2em;
}

.prep {
    color: whitesmoke;
    font-weight: bold;
}

.med {
    color: rgb(236, 104, 81);
    font-weight: bold;
    margin-right: -8px !important;
}

.cover_content {
    margin-top: 15em;
}


@media only screen and (max-width: 768px) {
    .cover_wrapper {
      height: 85vh;
    }
    .logo {
        font-size: 1em !important;
    }

    .cover_content {
        margin-top: 4em;
    }

    .med {
        color: rgb(236, 104, 81);
        font-weight: bold;
        margin-right: -5px !important;
    }

    .menu {
        background-color: #262626 !important;
        border-color: transparent;
        background-image: none;
        box-shadow: none;
        font-size: 25px;
    }
  }

  @media only screen and (max-width: 770px) {
    .cover_content {
        margin-top: 20em;
    }
    
    .cover_wrapper {
        height: 100vh;
        width: 100%;
      }
  }

  @media only screen and (max-width: 770px) {
    .cover_content {
        margin-top: 10em;
    }
    
    .cover_wrapper {
        height: 100vh;
        width: 100%;
      }
  }


  #hidden-menu {
    position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	background-color:#262626 !important;
	color: #FFFFFF;
    z-index:9999;
    font-size: 20px;
    display: none;
  }
/*cover section */

/*card section*/

.section_card {
    padding: 80px;
}

@media only screen and (max-width: 500px) {
    .section_card {
        padding: 30px;
    }
}



/*card section*/


/*progesss section */

.section_progress {
    margin-bottom: 0px;
    color: white;
}


.progress_cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../img/progress_cover.webp");
    height: 740px;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(100%);
}

.progress_content {
    margin-top: 7em;
}

.progress_content h1{
    font-size: 3em;
    font-weight: 700;
}

.progress_button {
    padding: 15px 30px;
}

@media only screen and (max-width: 500px) {
    .section_progress {
        padding: 0px;
    }
    .progress_content {
        margin-top: 2em;
    }
}


/*progesss section */


/*table section*/

.section_table {
    padding: 80px;
}

@media only screen and (max-width: 500px) {
    .section_table  {
        padding: 20px;
    }
}

/*table section*/


/* discount section */

.section_discount {

    color: white;
}


.discount_cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../img/discount_cover.webp");
    height: 740px;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(100%);
}

.discount_content {
    margin-top: 7em;
}

.discount_content h1{
    font-size: 3em;
    font-weight: 700;
}

.discout_button {
    padding: 15px 30px;
}

@media only screen and (max-width: 500px) {
    .discount_progress {
        padding: 0px;
    }
    .discount_content {
        margin-top: 2em;
    }
}

/* discount section */


/*footer*/

.footer {
    margin-top: -35px;
    width:100%;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #2e2e2e;
}

@media (max-width: 767px){
    .footer .content {
        text-align: center;
    }
}
.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}
.mbr-white {
    color: #ffffff;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

@media (max-width: 767px) {
.footer .foot-title {
    text-align: center !important;
}
}

.low_display {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .footer .content > div:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.media-container-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.social-list {
    display: inline-flex;
}

.footer_icon {
    color: white;
    font-size: 2em;
    margin-right: 13px;
}

.footer-logo {
    font-size: 2em;
}

/*footer*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 25px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: lightgray; /* Add a dark-grey background on hover */
    transition: .3s;
}

