/*global*/

.section {
  margin: 40px 105px;
}

.text-muted {
  font-weight: bold;
  color: rgb(170, 169, 169);
  font-size: 11px;
}

/*global*/

.med {
  color: rgb(216, 44, 70);
}


/*navbar*/
.marginlefting {
  margin-left: 260px !important;
}

.displaynone {
  display: none !important;
}

.displayblock {
  display: block !important;
}

.sidebar .item i {
  font-size: 24px;
  margin-top: -5px !important;
}

.logo {
  height: 48px !important;
  padding: 10px !important;
}

.logo img {
  width: 100% !important;
  height: 38px !important;
}

.brand-logo {
  font-weight: 700;
  font-size: 20px;
}

.title.item {
  padding: .92857143em 1.14285714em !important;
}

.dropdown .menu .header {
  padding-top: 3.9px!important;
  padding-bottom: 3.9px!important;
}

.nav-logo {
  font-size: 20px !important;
}

input::placeholder {
  color: white !important;
}

input[type=text] {
  color: #fff !important;
}


/*navbar*/


/*welcome section*/

.hero_p {
  font-size: 20px;
}

.day {
  font-size: 2.5em;
  font-weight: bold;
}

.red_text {
  color: rgb(202, 123, 123);
}

/*welcome section*/

/*progress section*/

/* cicle chart */

.single-chart {
  width: 83%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  height: 50px;
  width: auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.section_grade {
  width: auto;
  margin-top: 40px;
  margin-left: -50px;
}

.text-blue {
  color: blue
}

.grade_header {
  font-size: 2.8em;
  font-weight: 900;
}

.grade {
  font-size: 7em;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 12px;
  color: #4CC790;
}

/* cicle chart */


/*progress section*/


/*row-2*/
/* .custom {
  background-color: #75e8dc;
  color: white;
}

.custom:hover {
  background-color: #06ada5;
  transition: .3
} */