/*global*/

.section {
  margin: 60px 180px;
}




@media only screen and (max-width: 800px) {
  html {
    overflow: hidden;
  }

  .section {
    margin: 20px 0px;
  }

  .custom_height_table {
    height: 240px;
  }
}

/*global*/

.brand-logo {
  font-size: 1.2em;
  font-weight: bold;
}

.med {
  color: #ca2b43;
}

.custom_height_table {
  height: 140px;
}

.custom_p {
  font-size: 24px;
  font-weight: bold;
}


/*message section*/

.message_header {
  margin-bottom: 10px;
}

.message_text {
  margin-right: 15px;
}

/*message section*/