html {
    overflow: hidden;
}

/*global*/
.section {
    margin-top: 30px;
}



input::-webkit-input-placeholder {
    color: #fff !important;
}



.syllabus {
    margin-top: 54px !important;
}

.section_your_statistics h1 {
    font-size: 3em !important;
}

#calendar {
    width: 600px;
    
  }